*~
controller_epoxy/manifests/params.pp
controller_epoxy/files/id_rsa_ctrl-01
controller_epoxy/files/id_rsa_controller-01
controller_epoxy/files/id_rsa_cloudtest
controller_epoxy/files/INFN-CA.pem
controller_epoxy/files/ceph.conf
controller_epoxy/files/ceph-ec.conf
controller_epoxy/files/ceph.client.cinder-prod.keyring
controller_epoxy/files/ceph.client.cinder-cloudtest.keyring
controller_epoxy/files/ceph.client.glance-prod.keyring
controller_epoxy/files/ceph.client.glance-cloudtest.keyring
compute_epoxy/manifests/params.pp
compute_epoxy/files/CloudVenetoCAs.pem
compute_epoxy/files/id_rsa_ctrl-01
compute_epoxy/files/id_rsa_controller-01
compute_epoxy/files/INFN-CA.pem
compute_epoxy/files/ceph.conf
compute_epoxy/files/nagios_check_ovs.sh
compute_epoxy/files/check_kvm_wrapper.sh
compute_epoxy/files/secret.xml
compute_epoxy/files/secret_test.xml
compute_epoxy/files/check_lvs.py.orig
compute_epoxy/files/id_rsa_cloudtest
compute_epoxy/files/id_rsa_4096
compute_epoxy/files/id_rsa_4096.pub
compute_epoxy/files/id_rsa_ctrl-01.old
